.card {
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #dadada;
  width: 100%;
  min-height: 183px;
  margin-bottom: 20px;
  padding-bottom: 80px;
  position: relative;
}

.card__body{
  display: block;
  min-height: 80px;
  cursor: pointer;

  .card__badges {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.autocomplete {
  position: relative;

.badge-group {

  .badge-group__input {
    input {
      width: 100%;
      font-size: inherit;
      border: none;
      border-bottom: 1px solid #000;
      background: none;
      padding: 10px;
    }
  }
}

.badge-list {
  list-style: none;
  text-align: left;
  background: #fff;
  padding: 0;
  margin-top: 0;
  width: 100%;
  position: absolute;
  top: 40px;
  left: 0;
  background: #fff;
  z-index: 1;

  li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }

  li:hover {
    background: #000;
    color: #fff;
  }

  li:last-child {
    border-bottom: none;
  }
}

.selected-badges {
  padding: 0 0 30px;
}
}